.vbox {
    -fx-spacing: 7px;
    -fx-padding: 3px;
}

.labelAppointment {
    -fx-text-wrap: true;
}

.labelDate {
    -fx-text-alignment: center;
    -fx-background-color: #f0ffff;
    -fx-border-color: Black;
    -fx-border-width: 1px;
}

.weekday {
    -fx-background-color: #fff5ee;
    -fx-border-color: Black;
    -fx-border-width: 1px;
}

.weekendDateLabel {
    -fx-background-color: #a9a9a9;
}

.weekendDay {
    -fx-background-color: #696969;
    -fx-border-color: Black;
    -fx-border-width: 1px;
}

.today {
    -fx-background-color: #f0fff0;
    -fx-border-color: #40e0d0;
    -fx-border-width: 1px;
}

.todaysDay {
    -fx-background-color: #add8e6;
    -fx-border-color: #40e0d0;
    -fx-border-width: 2px;
}

.invalidDateLabel {
    -fx-background-color: #a9a9a9;
}

.invalidDay {
    -fx-background-color: #696969;
    -fx-border-color: Black;
    -fx-border-width: 1px;
}